<h1><%= @cocktail.name.capitalize %></h1>

<%= cl_image_tag @cocktail.photo, height: 200, width: 200 %>

<div>
  <ul>
    <% @doses.each do |dose| %>
      <li>
         <%= dose.description %> of <%= dose.ingredient.name %> - <%= link_to "x", cocktail_dose_path(@cocktail, dose), method: :delete, class:"btn btn-danger" %></li>
    <% end %>
    <li>  <%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail) %> <%= link_to "+", new_cocktail_path, class:"btn btn-success" %> </li>
  </ul>
</div>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit %>
  <% end %>



<div class="text-center">
  <%= link_to "Add a Cocktail +", new_cocktail_path, class:"btn btn-success" %>  OR
  <%= link_to "Back to Menu", cocktails_path, class:"btn btn-success" %>
</div>




